<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.id.application.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Introduction"
            class="com.id.application.intro.Perspective"
            id="com.id.application.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.id.application.application"
            description="Integrated Desktop"
            name="id">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.id.application.intro">
      </intro>
      <introProductBinding
            introId="com.id.application.intro"
            productId="com.id.application.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.id.application.intro"
            content="introContent.xml"
            id="com.id.application.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="id.menu.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="id.menu.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="id.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.id.application.preferences.GeneralPreferencePage"
            id="com.id.preferences.pages.general"
            name="General">
      </page>
   </extension>

</plugin>
